* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('back.png') no-repeat;
    background-size: cover;
    background-position: center;
}

#container {
    width: 380px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 25px;
    padding: 30px 40px;
}

#container-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 45px;
    margin-bottom: 20vh;
}

#container-img p {
    font-size: 35px;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
}

#container-img img {
    width: 45%;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, .2);
    outline: none;
    cursor: pointer;
}

#container-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 25px;
}

#container-links a {
    color: #fff;
    text-decoration: none;
    font-weight: 900;
    font-size: 16px;
    transition: .3s;
}

#container-links a:hover {
    color: #5865f2;
}
